body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

img{
    display: block;
    max-width: 100%;
}

*{
    box-sizing: border-box;
}

body {
  font-family: "RocknRoll One", Helvetica sans-serif;
  color: #4C2B21;
  background: #fdf5d9;
  
}

/* Menu */

.menu-bg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: rgb(34, 28, 28);

}

.menu{
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: rgb(34, 28, 28);

}

.logo{
    max-width: 70px;
    margin: 0 10px;
}

.menu-nav ul{
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a{
    font-size: 1.25em;
    display: block;
    padding: 15px;
    color: white;
}

.menu-nav a:hover{
    color: #E0BF48;
}

/* Banner */

.banner{
    max-width: 1140px;
    font-size: 3em;
    line-height: 1.2;
    margin: 0 auto;
    padding: 180px 10px 60px 10px;
    
}

/* About */

.about{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    max-width: 1140px;
    margin: 0 auto;
    padding:60px 0 0 0;
    display: flex;
    word-break: normal;
}

.about-info{
    margin: 0 10px;
}

.about-info h1{
    font-size: 2.25em;
    margin-bottom: .7em;
}

.about-info p{
    font-size: 1.25em;
    line-height: 1.4;
    color:#5a443d;
  

}

.about-img{
    max-width: 350px;
    margin: 0 10px;
}

/* Cards */

.cards{
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 60px;
}

.cards h1{
    flex: 1 1 1140px;
    font-size: 2.25em;
    padding: 40px 0;
    margin: 0 10px;
}

.cards h2{
    flex: 1 1 1140px;
    font-size: 1.8em;
    padding: 40px 0;
    margin: 0 10px;
    color:#F5A249 ;
}

.cards h2:nth-of-type(2){
    color: #48AC5A;
}

.cards h2:nth-of-type(3){
    color: #a83b7b;
}

.cards h2::after{
    content: "";
    width: 100%;
    display: block;
    width: 100px;
    height: 4px;
    background: #e68218;
    margin-top: 10px;
}

.cards h2:nth-of-type(2)::after{
    background:#177929 ;
}

.cards h2:nth-of-type(3)::after{
    background: #771e52;
}

.card{
    max-width: 200px;
    height: 332px;
    margin: 10px;
}

/* Gods */

.gods{
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 60px; 
}

.gods h1{
    flex: 1 1 1140px;
    font-size: 2.25em;
    padding-bottom: 40px;
    margin: 0 10px;
    text-align: center;
    color:#4C2B21 ;
    
}


.gods h1::after{
    content: "";
    width: 100%;
    display: block;
    width: 180px;
    height: 4px;
    background: #4C2B21;
    margin: 15px auto;
}

/* Exodia */

.exodia-bg{
    background: #4C2B21;
}

.exodia{
    max-width: 1140px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 40px 0; 
    background: #4C2B21;
    border-bottom: 2px solid #fdf5d9;
}

.exodia h1{
    flex: 1 1 1140px;
    font-size: 3em;
    padding-bottom: 40px;
    margin: 0 10px;
    text-align: center;
    color:#fdf5d9;
}

.exodia h2{
    flex: 1 1 1140px;
    font-size: 1.8em;
    padding-bottom: 20px;
    margin: 0 10px;
    text-align: center;
    color:#fdf5d9 ;
}

.card-broke{
    width: 1140px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 300px;
    margin: 5px;
}

.card-exodia:hover{
    box-shadow: 0 0 10px 0 #fdf5d9 inset, 0 0 20px 4px #fdf5d9;
}

/* Relíquias */

.reliquias{
    max-width: 1140px;
    margin: 0 auto;
    padding:60px 0;
    display: flex;
    word-break: normal;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #4C2B21;
    color: #fdf5d9;
}

.bg-reliquias{
    width: 100%;
    background: #4C2B21;
}

.reliquias h1{
    flex: 1 1 1140px;
    font-size: 2.25em;
    padding: 40px 0;
    margin: 0 10px;
    
}

.reliquias h2{
    margin-bottom: 20px;
}

.reliquias h2::before{
    content: '';
    display: inline-block;
    margin-right: 15px;
    width: 7px;
    height: 25px;
    background: #E0BF48;
}

.reliquias p{
    color:#fdf9e9;
}


.reliq{
   margin: 30px 10px;
   max-width: 400px;
   
}

.reliq img{
    max-width: 360px;
}

/* Footer */

.footer{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}

/* Responsive */

@media (max-width:820px){
    .banner{
        text-align: center;
        font-size: 3.5em;
    }

    .about-img{
        display: none;
    }

    .about-info p{
        padding-bottom: 20px;
    }
    
    .reliquias{
        justify-content: center;
    }

}


